#modal-reels .carousel-container {
  display: initial;
}
#modal-reels .reels-header {
  display: none;
}
#modal-reels .close-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-reels .close-container img {
  filter: brightness(0) invert(1);
  cursor: pointer;
}
#modal-reels .close-container .x-icon {
  width: 35px;
  height: 35px;
}
#modal-reels .close-container .logo-velong {
  width: 29px;
  height: 35px;
  margin-left: 5px;
}

#modal-reels .last-div {
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 475px) {
  #modal-reels {
    padding: 0 !important;
  }

  #modal-reels .close-container {
    display: none;
  }
  #modal-reels .close-container .logo-velong {
    display: none;
  }
}
