.modal-reels-video-desktop {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.mute-unmute-icon-desk {
  filter: brightness(0) invert(1);
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 9;
  top: 5%;
  right: 5%;
}
