.modal-reels-video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 478px) {
  .modal-reels-video {
    height: 100vh;
    width: 100%;
    object-fit: fill;
    position: absolute;
    left: 0;
    top: -4%;
  }
}
