.shorts-wrapper{
    display: flex;
    flex-direction: column;
}
.shorts-header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.shorts-header span{
    font-weight: 700;
    color: grey;
    margin: 20px 40px 0 40px;
}
.shorts-header .see-all{
    font-weight: 700;
    color: #4ac0cf;
    text-decoration: none;
    cursor: pointer;
}
.shorts-people-wrapper{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.25em 0;
    overflow-x: auto;
}
.shorts-person-wrapper{
    margin: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.shorts-photo-container{
    width: 6.25em;
    display: flex;
    justify-content: center;
    padding: 0.625em 0;
}
.shorts-person-photo{
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}
.shorts-person-name{
    font-weight: 700;
}
.shorts-person-area{
    font-weight: 300;
    width: 110px;
    text-align: center;
}
