@media only screen and (max-width: 5000px) {
  #modal-reels .swiper-wrapper {
    margin-left: 0;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 39.5% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 39.5% !important;
  }
}
@media only screen and (max-width: 3000px) {
  #modal-reels .swiper-wrapper {
    margin-left: 0;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 39% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 39% !important;
  }
}
@media only screen and (max-width: 1920px) {
  #modal-reels .swiper-wrapper {
    margin-left: -90px;
  }
  #modal-reels .swiper-slide-active {
    width: 480px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 35% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 35% !important;
  }
}
@media only screen and (max-width: 1900px) {
  #modal-reels .swiper-wrapper {
    margin-left: -110px !important;
  }
  #modal-reels .swiper-slide-active {
    width: 480px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 33.5% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 35% !important;
  }
}
@media only screen and (max-width: 1900px) {
  #modal-reels .swiper-wrapper {
    margin-left: -130px !important;
  }
  #modal-reels .swiper-slide-active {
    width: 480px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 34% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 34% !important;
  }
}
@media only screen and (max-width: 1900px) {
  #modal-reels .swiper-wrapper {
    margin-left: -135px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 33% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 33% !important;
  }
}
@media only screen and (max-width: 1900px) {
  #modal-reels .swiper-wrapper {
    margin-left: -145px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 32% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 32% !important;
  }
}

@media only screen and (max-width: 1600px) {
  #modal-reels .swiper-wrapper {
    margin-left: -100px !important;
  }
  #modal-reels .swiper-slide-active {
    width: 380px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 35% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 35% !important;
  }
}
@media only screen and (max-width: 1599px) {
  #modal-reels .swiper-wrapper {
    margin-left: -35px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 35% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 35% !important;
  }
}
@media only screen and (max-width: 1599px) {
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 34% !important;
  }
}

@media only screen and (max-width: 1470px) {
  #modal-reels .swiper-wrapper {
    margin-left: -55px !important;
  }
  #modal-reels .swiper-slide-active {
    width: 380px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 33% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 33% !important;
  }
}
@media only screen and (max-width: 1440px) {
  #modal-reels .swiper-wrapper {
    margin-left: -50px !important;
  }
  #modal-reels .swiper-slide-active {
    width: 380px !important;
    position: relative;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 33% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 33% !important;
  }
}

@media only screen and (max-width: 1350px) {
  #modal-reels .swiper-wrapper {
    margin-left: -60px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 32% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 32% !important;
  }
}
@media only screen and (max-width: 1280px) {
  #modal-reels .swiper-wrapper {
    margin-left: -71px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 30% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 30% !important;
  }
}
@media only screen and (max-width: 1180px) {
  #modal-reels .swiper-wrapper {
    margin-left: 0px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 29% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 32% !important;
  }
}
@media only screen and (max-width: 1179px) {
  #modal-reels .swiper-wrapper {
    margin-left: 0px !important;
  }
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 35% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 26.5% !important;
  }
}
@media only screen and (max-width: 1080px) {
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 36% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 30% !important;
  }
}
@media only screen and (max-width: 1000px) {
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 33% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 29% !important;
  }
}
@media only screen and (max-width: 900px) {
  #modal-reels .reels-carrousel .swiper-button-next {
    right: 30% !important;
  }
  #modal-reels .reels-carrousel .swiper-button-prev {
    left: 29% !important;
  }
}

@media only screen and (max-width: 820px) {
  #modal-reels .swiper-wrapper {
    margin-left: -100px !important;
  }
  #modal-reels .close-container {
    margin-bottom: 18% !important;
  }
  .reels-carrousel .swiper-button-next,
  .reels-carrousel .swiper-button-prev {
    display: none;
  }
  #modal-reels .swiper-slide-active {
    width: 450px !important;
    position: relative !important;
  }
}

@media only screen and (max-width: 768px) {
  #modal-reels .close-container {
    margin-bottom: 8% !important;
  }
}

@media only screen and (max-width: 450px) {
  #modal-reels .swiper-wrapper {
    margin-left: 0 !important;
  }
  #modal-reels .close-container {
    margin: 0 !important;
  }
  #modal-reels .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  #modal-reels .swiper-slide-active {
    width: auto !important;
    position: relative;
  }
  #modal-reels .swiper-slide-active .slide-close-icon {
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9;
  }
  .reels-video-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .reels-person-wrapper {
    position: absolute;
    bottom: inherit;
    top: 5%;
    left: 5%;
    z-index: 9;
    display: flex;
    flex-direction: row;
  }
  .reels-person-wrapper > .person-photo {
    width: 35px;
    height: 35px;
    border: 0.1em solid #fff;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  .reels-video-data {
    position: absolute;
    bottom: 12% !important;
    right: 5%;
    z-index: 9;
  }
  .reels-video-velong {
    display: initial !important;
  }
  .velongLogo {
    display: block !important;
    position: absolute;
    bottom: 12%;
    left: 5%;
    z-index: 9;
    width: 29px;
    height: 35px;
  }
}
